*{ /*CSS RESET*/
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden; /*to remove scroll bar from bottom*/
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -156px;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    /* background-size: cover; */
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: carMove linear .3s infinite;
}

.car {
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 444px;
    bottom: 30vh; /*vieport height*/ /*gives the size according to the web page's display */
}

.wheel1{
    width: 77px;
    position: relative;
    top: 44px;
    left: 33px;
}

.wheel1 img{
    width: 77px;
    position: relative;
    top: -5px;
    left: 10px;
    animation: wheelRotation linear .16s infinite;
}

.wheel2{
    width: 78px;
    position: relative;
    top: 44px;
    left: 33px;
}
.wheel2 img{
    width: 77px;
    position: relative;
    top: -86px;
    left: 202px;
    animation: wheelRotation linear .16s infinite;
}

@keyframes wheelRotation{
    100% {
        transform: rotate(360deg);
    }
}
@keyframes carMove{
    100% {
        transform: translateX(-50vw);
    }
}

@keyframes shake{
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}